body {
	font-family: Arial, Helvetica, sans-serif;
}

table {
	font-size: 1em;
}

.right {
	float: right;
}
.left {
	float: left;
}

/* Faces */
#face-radio-buttons-session-feedback img {
	width: 80px;
	height: auto;
}
.input_hidden {
	position: absolute;
	left: -9999px;
}
.selected {
	background-color: #ccc;
}
#face-radio-buttons-session-feedback label {
	display: inline-block;
	cursor: pointer;
}
#face-radio-buttons-session-feedback label:hover {
	background-color: #efefef;
}
#face-radio-buttons-session-feedback label img {
	padding: 3px;

}

/* Slider */
#slider_session_feedback {
	width:80%;
	margin: 10px 9%;
	padding: 0;
}
#slider {
	margin: 10px;
}
.ui-slider-horizontal {
	height: 15px;
}
.ui-slider .ui-slider-handle {
	height: 16px;
	padding-top: 5px;
	width: 25px;
}
.slider-horizontal-text-below-left {
	float: left;
	margin-left: 10%;
}
.slider-horizontal-text-below-right {
	float: right;
	margin-right: 12%;
}
/* Comments */
#comentarios-session-feedback-content {
	padding-top: 20px;
}
#session-feedback-comments{
	margin-left: 6%;
}
#session-feedback-comments-text {
	font-size: 1.5em;
	vertical-align: top;
	width: 90%;
}